:root {
    --gap: 0.5em;
    --bg-color: #000000;
    --text-color: #e9e9e9;
    --link-color: #71b7fb;
    --link-visited: #71fbdd;
    --article-bg: #1b1f23;

    @media (prefers-color-scheme: light) {
        --bg-color: #f4f2ee;
        --text-color: #191919;
        --link-color: #0a66c2;
        --link-visited: #5e17eb;
        --article-bg: #ffffff;
        --box-shadow: 1px 2px 5px 0px #0000001a;
    }
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:visited {
        color: var(--link-visited);
    }

    &:hover {
        text-decoration: underline;
    }
}


article {
    background-color: var(--article-bg);
    border-radius: var(--gap);
    padding: var(--gap);
    box-shadow: var(--box-shadow);

    & > .header {
        display: block;
        margin-bottom: var(--gap);
    }
}

.article-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    gap: var(--gap);
    padding: var(--gap);
}

header {
    text-align: center;
}
